@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import 'tailwindcss';
@theme {
  --color-primary: #12100e;
  --color-midnight: #18191a;
  --color-navy: #1f2324;
  --color-indigo: #2c3635;
  --color-storm: #43362a;
  --color-aqua: #5f8d8e;
  --color-mint: #e4d8c5;
  --color-royal: #724928;
  --color-lavender: #a67246;
  --color-fuchsia: #80472a;
  --color-orange: #c27a3c;
  --color-sand: #d1b187;
  --color-coral: #a55b3c;

  --animate-orbit: orbit 50s linear infinite;
  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg))
        translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
    }
    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg))
        translateY(calc(var(--radius) * 1px))
        rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }
  --animate-marquee: marquee 50s linear infinite;
  --animate-marquee-vertical: marquee-vertical 50s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

body {
  background: #12100e;
  font-family: 'Funnel Display', sans-serif;
  color: #e4d8c5;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.c-space {
  @apply sm:px-10 px-5 lg:px-15;
}

.hover-animation {
  @apply hover:-translate-y-1 duration-200;
}

.section-spacing {
  @apply min-h-screen mt-20 md:mt-30;
}

.text-heading {
  @apply font-bold text-3xl md:text-4xl;
}

.headtext {
  @apply mt-2 mb-2 text-xl;
}

.subtext {
  @apply text-[#d1b187] text-sm md:text-base text-pretty;
}

/* Navigation */
.nav-ul {
  @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-20;
}

.nav-li {
  @apply text-[#d1b187] hover:text-[#e4d8c5] max-sm:w-full max-sm:rounded-md py-2 max-sm:px-5;
}

.nav-link {
  @apply text-lg md:text-base hover:text-[#e4d8c5] transition-colors;
}

/* Button Components */
.btn {
  @apply relative px-1 py-4 text-sm text-center rounded-full font-extralight bg-primary w-[12rem] cursor-pointer overflow-hidden;
}

/* About Section */
.grid-1 {
  @apply row-span-2 md:col-span-3 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-2 {
  @apply row-span-1 md:col-span-3 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-3 {
  @apply row-span-1 md:col-span-3 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-4 {
  @apply row-span-1 md:col-span-2 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-5 {
  @apply row-span-1 md:col-span-4 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}

.grid-default-color {
  @apply p-6 bg-gradient-to-b from-storm to-indigo rounded-2xl;
}

.grid-special-color {
  @apply p-6 bg-gradient-to-b from-royal to-lavender rounded-2xl;
}
.grid-black-color {
  @apply p-6 bg-gradient-to-tl from-[#2c2822] via-[#1a1714] to-[#2c2822] rounded-2xl;
}

/* Contact Section*/
.field-label {
  @apply text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70;
}

.field-input {
  @apply w-full min-h-10 rounded-md px-3 py-2 text-sm bg-white/5 transition duration-200 placeholder-[#a67246] border border-white/5 mt-2;
}

.field-input-focus {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-[#a67246]/50;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #a67246 #1f2324;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1f2324;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #a67246;
  border-radius: 8px;
  border: 2px solid #1f2324;
}

::-webkit-scrollbar-thumb:hover {
  background: #724928;
}
